@media screen and (max-width:1400px) {
    .productstable{
        display: flex;
        width: 100%;
    }
    .displayproducts{
        width: 100%;
        font-family: sans-serif;
        font-size: small;
        visibility: visible;
    }
    .searchdivision{
        margin-top: 40px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }
    .searchbox{
        margin-bottom: 10px;
        padding: 5px;
        font-family: sans-serif;
        border-radius: 5px;
        border-bottom:1px solid grey;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .productbtns{
        padding: 10px;
    }
    .addproductbtn{
        padding: 5px;
        font-family: sans-serif;
        border-radius: 5px;
        background-color: white;
        color: black;
        border: none;
        margin-right: 5px;
    }
    .producttable{
        width: 90%;
        max-height: 300px;
        overflow-y: auto;
    }
    .tableheading{
        font-weight: bold;
        text-align: left;
        padding: 5px;
        font-family: sans-serif;;
    }
    .tableitem{
        text-align: left;
        padding: 5px;
        font-family: sans-serif;
        font-size: 10px;
    }
    .itembtn{
        padding: 5px;
        font-family: sans-serif;
        border-radius: 5px;
        background-color: white;
        color: black;
        border: 1px solid grey;
        border-radius: 10px;
    }
}

@media screen and (max-width:900px) {
    
}